# Ignore VS Code settings
.vscode/

# Ignore model, input and output files
model/*
input/*
output/*

# Ignore Python cache
__pycache__/

# Keep empty directories
!model/.gitkeep
!input/.gitkeep
!output/.gitkeep
